<main class="flex-fill">

    <div class="container">
        <div class="row">
            <div class="col-12 text-start mt-5">
                <h2>{{Usuario.t_nome}}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center mt-3">
                <ul class="nav nav-tabs justify-content-start">
                    <li class="nav-item">
                        <a class="nav-link " href="/Perfil" style="color: black;">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" style="color: black;">Publicações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Perfil/Comentario" style="color: black;">Comentários</a>
                    </li>
                </ul>
            </div>
        </div>
        {{#if posts}}
        {{#each posts}}
        <ol class="mt-4">
            <li>
                <div class="row rp">
                    <div class="col-12 col-md-10">
                        <div class="card post ">
                            <h5 class="card-title"><a href="/postagens/post/{{t_nome}}/{{t_titulo_post}}">{{t_titulo_post}}</a>
                            </h5>
                            <p class="card-text">0 estrelas - {{count}} comentários - {{t_nome}} · {{getTimeAgo t_data}}
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
        {{/each}}

        <div class="col-12 col-md-6 offset-md-3">
            <div class="d-flex justify-content-center">
                {{#if totalPages}}
                <nav class="d-inline-block mx-3">
                    <ul class="pagination pagination-sm my-0">
                        {{#if (gt page 1)}}
                        <li class="page-item"><a class="page-link" href="?page={{subtract page 1}}">Anterior</a></li>
                        {{/if}}
                        {{#each (range 1 totalPages)}}
                        <li class="page-item{{#if (eq this page)}} active{{/if}}"><a class="page-link"
                                href="?page={{this}}">{{this}}</a></li>
                        {{/each}}
                        {{#if (lt page totalPages)}}
                        <li class="page-item"><a class="page-link" href="?page={{add page 1}}">Próximo</a></li>
                        {{/if}}

                    </ul>
                </nav>
                {{/if}}
            </div>

        </div>

        {{else}}
        <div class="row">
            <div class="col-12 text-center mt-5">
                <i class="bi bi-person-fill " style="font-size:64px; line-height:64px;"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <h4 class="">Nenhuma publicação encontrada</h4>
                <p class="lead">Você ainda não fez nenhuma publicação.</p>
                <a href="/postagens/add" class="btn btn-primary">+ Publicar conteúdo</a>
            </div>
        </div>
        {{/if}}
    </div>


</main>