
<main class="flex-fill">
    <div class="container">
        {{>_msg}}

        <div class="row">
            <div class="col-12 col-md-10">
                <div class="card cardT mt-2">

                    <div class=" cabpost">
                        <address>
                            <a href="/perfil/{{Posts.t_nome}}">{{Uppercase Posts.t_nome}}</a>
                        </address>
                        <a href="#" class="text-body">{{getTimeAgo Posts.t_data}}</a>

                    </div>
                    <h1>{{Posts.t_titulo_post}}</h1>

                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-10">
                    <div class="card cardC text-break mb-3">

                        {{{Mark Posts.t_conteudo_post}}}


                    </div>
                   
                    <div class="estrelar">
                        <label for="" class="text-body-secondary" id="lb" >D칡 uma estrela ao Post</label>
                        <i class="bi bi-star  text-warning" style="font-size:24px; line-height:24px;  cursor: pointer;"
                            title="Estrelar"  id="estrela"></i>
                    </div>
                   
                </div>
            </div>
           
            <div class="row">
                <div class="col-12 col-md-8">
                    <form action="/postagens/Comentario/{{Posts.n_id_post}}" method="post">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder=" " id="response" style="height: 150px;"
                                name="Comentario"></textarea>
                        </div>
                        <button type="submit" class="btn btn-dark mt-4">Enviar</button>
                    </form>



                </div>
            </div>


     
        </div>

        <h2 class="mb-2 mt-4">Coment치rios</h2>
        {{#if Coment}}
        {{#each Coment}}
        <div class="row">
            <div class="col-12 col-md-10">
                <div class="card cardCom">
                    <div class=" cabpost">
                        <address>
                            <a href="/perfil/{{this.t_nome}}">{{Uppercase this.t_nome}}</a>
                        </address>
                        <a href="#" class="text-body">{{getTimeAgo this.t_data}}</a>
                    </div>
                    {{{Mark this.t_conteudo_post}}}
                </div>
            </div>
        </div>
        {{/each}}

        {{else}}

        <div class="row">
            <div class="col-12 col-md-10">
                <p>Ainda n칚o h치 nenhum coment치rio neste Post游땩. <br> Que tal fazer um agora游때 </p>
            </div>
        </div>
        {{/if}}


</main>

