
    
         <main class="flex-fill">

            <div class="container">
                <div class="row">
                    <div class="col-12 text-start mt-5">
                       <h2 >{{Usuario.t_nome}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-3">
                        <ul class="nav nav-tabs justify-content-start">
                            <li class="nav-item">
                                <a class="nav-link  active" href="#" style="color: black; ">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/perfil/{{Usuario.t_nome}}/Publicacao"  style="color: black;">Publicações</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/perfil/{{Usuario.t_nome}}/Comentarios"  style="color: black;">Comentários</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12 text-center mt-5">
                        <i class="bi bi-person-fill " style="font-size:64px; line-height:64px;"></i>
                    </div>
                </div> -->
                <div class="row">
                         <div class="card-body mt-3  ms-3  ` d-flex  justify-content-start">
                        <div class="quadradoVerde me-1"></div>
                        {{!-- <p class="me-3">Membro: {{getTimeAgo Usuario.t_data_cadastro }}</p> --}}
                        <p> Total de estrelas⭐: 0 </p>
                    </div>
                   
                   {{#if Usuario.t_descricao }}
                    <div class="card-body mt-4 ms-md-3 d-flex justify-content-center justify-content-md-start " style="border: 1px solid snow; border-radius: 5px;">
                        <p>{{Usuario.t_descricao}}</p>
                    </div>
                    {{else}}
                    
                    {{/if}}
                 
                </div>
            
                </div>
                
            
        </main>


